.nav-bar{
    width: 100%;
    height: 100px;
    background-color: bisque;
}
.welcome{
    font-size: 40px;
    margin-left: 40px;
    padding-top: 60px;
}
.nav-h1{
    margin-left: 1000px;
    font-size: 25px;
}
.nav-h2{
    margin-left: 40px;
    font-size:25px ;
}
.nav-h2{
    margin-left: 40px;
    font-size:25px ;
}